# Dependency directories
node_modules/

# local configuration
.vscode/
.continue/
tsconfig.json

# environment variable files
.env

# source files
*.ts
src/setup/*

# local files and assets
test.*
transcripts/
