# Dependency directories
node_modules/

# local configuration
.vscode/
.continue/
.logs

# environment variable files
.env

# compiled and output files
*.js
dist/
subtitles/new/

# local files and assets
test.*
transcripts/
sample.srt

# local files and assets
test.*
