# Dependency directories
node_modules/

# local configuration
.vscode/
.continue

# environment variable files
.env

# compiled and cleaned files
# *.js
# subtitles/new/

# local files and assets
test.*
transcripts/
sample.srt
